.Loader {
  position: fixed;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s linear;
}

.dot1 {
  background-color: #3f3f3f;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  animation: bounce 0.9s linear 0s infinite;
}

.dot2 {
  background-color: #3f3f3f;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  animation: bounce 0.7s linear 0.2s infinite;
}

.dot3 {
  background-color: #3f3f3f;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  animation: bounce 0.6s linear 0.6s infinite;
}

@keyframes bounce {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 12px
  }
  100% {
    margin-bottom: 0
  }
}